.container{
    width: 70rem;
    height: 50rem;
    background-color: lightgrey;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30%;
}

.gameboard {
    display: grid;
    background-image: url('/images/gg.png');
    background-repeat: no-repeat;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 5%;
    align-content: center;
    text-align: center;
}
.left-panel {
    display: grid;
    grid-template-rows: 20% 60% 10%;
    margin:5%;
    align-content: center;
    text-align: center;
    /* border: 1px solid black; */
}

.card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.front-card, .back-card {
    left: 0;
    width: inherit;
    height:inherit;
    position: absolute;
    transition: opacity 500ms;
}

.hide {
    opacity: 0;
}

#score{
    height: 10rem;
    width: 10rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#score h1 {
    margin-top: 3.5rem;
}

#restart-btn:hover {
    color: blue;
}

.selected {
    border: 3px solid transparent;
}

